.root-admin, .content-scroll { -fx-background-color: #F7F8F6; -fx-background: #F7F8F6; }
.sidebar {
    -fx-background-color: white;
    -fx-border-color: #DDDDDD;
    -fx-border-width: 0 1 0 0;
}
.sidebar-logo { -fx-font-size: 22px; -fx-text-fill: #1F7A2E; -fx-font-weight: bold; }
.sidebar-role { -fx-font-size: 11px; -fx-text-fill: gray; }
.menu-active {
    -fx-background-color: #B8F5B3;
    -fx-text-fill: #1F7A2E;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-font-size: 13px;
}
.menu-default {
    -fx-background-color: transparent;
    -fx-text-fill: #333333;
    -fx-font-size: 13px;
}
.logout-button {
    -fx-background-color: transparent;
    -fx-text-fill: #B03030;
    -fx-font-size: 13px;
    -fx-alignment: center-left;
    -fx-font-weight: bold;
}
.topbar {
    -fx-background-color: white;
    -fx-border-color: #DDDDDD;
    -fx-border-width: 0 0 1 0;
}
.search-field {
    -fx-background-color: #F3F3F3;
    -fx-background-radius: 10;
    -fx-padding: 9;
}
.topbar-name { -fx-font-weight: bold; }
.topbar-role { -fx-font-size: 10px; -fx-text-fill: gray; }
.topbar-icon { -fx-font-size: 18px; }
.avatar { -fx-fill: #D9EAD3; }
.page-title { -fx-font-size: 28px; -fx-font-weight: bold; }
.page-subtitle, .small-muted { -fx-text-fill: gray; }
.panel {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: #DDDDDD;
    -fx-border-radius: 10;
}
.summary-card {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: #4E8B54;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.06), 8, 0, 0, 2);
}
.card-title { -fx-font-size: 12px; -fx-text-fill: gray; -fx-font-weight: bold; }
.card-value { -fx-font-size: 22px; -fx-font-weight: bold; }
.panel-title { -fx-font-size: 18px; -fx-font-weight: bold; }
.green-button {
    -fx-background-color: #1F7A2E;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 10 18;
}
.green-bold { -fx-text-fill: #1F7A2E; -fx-font-weight: bold; }
.bold-text { -fx-font-weight: bold; }
.table-view { -fx-background-radius: 8; }
